[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
main = "main"

[dev-packages]
pylint = "*"
jedi = "*"
autopep8 = "*"

[packages]
aiohttp = "*"
aiohttp-remotes = "*"
pyyaml = "*"
dbus-next = "*"
cysystemd = "*"

[requires]
python_version = "3.9"
