[Unit]
Description={server_description} updater
Requires={server_name}-serverupdate.socket

[Service]
WorkingDirectory={base_dir}/serverupdate
ExecStart={pipenv} run python3 main.py --systemd
KillSignal=SIGINT
User=pswgdev
Group=pswgdev
Restart=on-failure
