[Unit]
Description={server_description} server updater socket

[Socket]
ListenStream={base_dir}/serverupdate/{server_name}.sock
SocketGroup=www-data
SocketUser=www-data
SocketMode=0600


[Install]
WantedBy=nginx.service
